.main-blog + .main-blog {
    margin-left: 20px;
    width: 35%;
    background-image: url(https://c0.anyrgb.com/images/1020/945/venice-beach-2018-outdoors-sport-men-jumping-desert-sunset-extreme-sports-one-person-action.jpg);
    background-color: unset;
    background-position-x: 0;
    background-size: 139%;
    filter: saturate(1.4);
}

.main-blog__author.tips {
    flex-direction: column-reverse;
    align-items: flex-start;
}

.main-blog + .main-blog .author-detail {
    margin-left: 0;
}

.main-blog + .main-blog .author-img {
    margin-top: 14px;
}