.collapse {
    width: 90px;
    border-right: 1px solid var(--border-color);}

.collapse.logo-expand{
    display: none;
}

.collapse.side-title {
     display: none;
    }

.sidebar {
    width: 220px;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    transition-duration: 0.2s;
    overflow-y: auto;/* 纵向滚动 */
    overflow-x: hidden;
}



/* 改变布局后仅显示logo，而不显示扩展名 */
.logo {
    display: none;
    width: 30px;
    height: 30px;
    background-color: #22b07d;
    flex-shrink: 0;/* 图标大小不压缩 */
    color: #fff;
    align-items: center;
    border-radius: 50%;/* 圆形绿色背景的logo */
    justify-content: center;
}

.sidebar .logo-expand {
    text-decoration: none;
    color: #fff;
    font-size: 19px;
    font-weight: 600;
    line-height: 34px;
    position: sticky;
    top: 0;/* 在logo不显示的时候贴顶 */   
} 
/* 解决上划后的重叠问题,需要被遮挡的对象不能设置position：relative*/
.sidebar .logo-expand:before {
    content: "";
    position: absolute;
    top: -30px;
    left: 0;
    background: var(--theme-bg);
    width: 200px;
    height: 70px;
    z-index: -1;
}


.side-wrapper {
    border-bottom: 1px solid var(--border-color);/* 单边分组 */
    padding: 36px 0;
    width: 145px;
}
/* 小组容器 */
.side-menu {
    display: flex;
    flex-direction: column;
}
/* 小组标题 */
.side-title {
    font-size: 12px;
    letter-spacing: 0.07em;
    margin-bottom: 24px;
}

/* 激活状态/示范 */
.sidebar-link:hover,.sidebar-link.is-active{
    color: #fff;
    font-weight: 600;
}
/* 使用奇偶数设置颜色 */
.sidebar-link:hover:nth-child(2n+1) svg, .sidebar-link.is-active:nth-child(2n+1) svg {
    background: #ff7551;
}
.sidebar-link:hover:nth-child(2n) svg, .sidebar-link.is-active:nth-child(2n) svg {
    background: #32a7e2;
}
.sidebar-link:hover:nth-child(2n+3) svg, .sidebar-link.is-active:nth-child(2n+3) svg {
    background: #6c5ecf;
}
/* 用加号表示从第二个开始之后的所有 */
.side-menu a + a {
    margin-top: 26px;
}

.side-menu > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--body-color); /* 使用:root内设置好的配色 */
}


.side-menu svg {
    width: 30px;
    padding: 8px;
    border-radius: 10px;
    background-color: var(--button-bg);
    flex-shrink: 0;/* 图标大小不压缩 */
    margin-right: 16px;
}
