.s-top-weather-wrapper{
    display: inline-block;
}
.s-top-weather-wrapper:hover{
    color: blue;
}


.s-top-set-wrapper{
    display: inline-block;
}
.s-top-username-wrapper{
    display: inline-block;
}


.grid-wa1{grid-area: wa1;}
.grid-wb1{grid-area: wb1;}
.grid-wb2{grid-area: wb2;}
.grid-wb3{grid-area: wb3;}
.grid-wb4{grid-area: wb4;}
.grid-wb5{grid-area: wb5;}

#weatherContent{
    display: none;
}

.s-top-weather{
    box-shadow: 0 0 8px #bcbcbc;
    background-color:white;
    border-radius: 10px;
    display: grid;
    grid-template-areas:
     'wa1 wa1 wa1 wa1 wa1'
     'wb1 wb2 wb3 wb4 wb5';
    grid-template-columns: repeat(5,90px);
    grid-template-rows: 50px 170px;
    position:absolute;
    top:50px;
    right:5px;
    justify-content: center;
    justify-items: center;
    text-align: center;

}

.s-top-weather > div{
    border-radius: 10px;
    padding:25px 10px ;

}
.s-top-weather > div.grid-wb1:hover,div.grid-wb2:hover,div.grid-wb3:hover,div.grid-wb4:hover,div.grid-wb5:hover{
    background-color: rgba(30,30,30,0.3);
}


