


section{
    margin-top: 130px;
}


iframe{
    border-radius: 10px;
    margin: 5px;
}

.nav-artical{
    display: grid;
    grid-template-rows:30px auto;
    height:170px ;
    border: 2px solid black;
    
}

article{
    display: flex;
    flex-flow: row nowrap;
    height:140px;
    width: 600px;
    overflow: hidden;
    
}



aside{
    margin-top: 120px;
    display: grid;
    grid-template-columns: 340px 60px;


}

.hot{
    padding-top: 50px;
    min-width: 250px; 
    position:sticky;
    top:0;
}
.hotnumber{
    padding-top: 50px;
    min-width: 20px; 
    position:sticky;
    top:0;
}

li{
    padding: 0.5em;

}






