


section{
    margin-top: 130px;
}


iframe{
    border-radius: 10px;
    margin: 5px;
}

.nav-artical{
    display: grid;
    grid-template-rows:30px 220px;
    border: 2px solid black;
}

article{
    display: flex;
    flex-flow: row nowrap;
    height:140px;
    overflow: hidden;
    
}


aside{
    margin-top: 170px;

}

.hot{
    min-width: 250px; ;
    position:sticky;
    top:0;
}






